.group-image {
    height: 100%;
    width: 100%;
}

.group-row {

}

.post-title {
    margin: 10px 0 10px;
    font-size: 20px;
}

.post-author {
    color: #999999;
}
.post-date {
    color: #999999;
}
.post-replies {
    color: #999999;
}

.post-row {
    border-bottom: 1px solid #999999;
}

.group-row {
    border-top: 2px solid #999999;
    border-left: 2px solid #999999;
    margin:0;
    padding: 10px 0 10px 0;
    width: 100%;
}

.group-row:last-child {
    border-bottom: 2px solid #999999;
}

.group-body {
    border: 2px solid #999999;
}

#group-names-container {
    padding: 0;
    margin: 0;
}

#group-names-column {
    margin: 0;
    padding: 0;
}

#header-row {
    margin: 0;
}